@media (width < 1850px) {
    .container {
        padding: 0 200px;
    }
}

@media (width < 1500px) {
    .container {
        padding: 0 80px;
    }
    .support {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }
    .support__text {
        text-align: center;
    }

    .stages__items {
        display: grid;
        grid-template-areas:
            'stages__item-1 stages__item-2 '
            'stages__item-4 stages__item-5 '
            'stages__item-3 stages__item-3 '
            'stages__item-6 stages__item-6 '
            'stages__item-7 stages__item-7 ';
        gap: 20px;
        grid-template-columns: repeat(2, 394px);
        grid-template-rows: repeat(2, 112px);
        justify-content: center;
    }
    .stages-item__stage {
        display: flex;
        gap: 16px;
    }

    .stages__pagination {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .stages-pagination__item {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgb(217, 217, 217);
    }
    .stages-pagination__item.active {
        background: rgb(49, 49, 49);
    }
}
@media (width < 1200px) {
    .info {
        flex-direction: column;
        align-items: center;
    }
    .info__text {
        text-align: center;
    }
    .info__content {
        align-items: center;
    }
}

@media (width < 900px) {
    .stages__item:last-child .stages__text {
        width: 100%;
    }
    .stages__carousel {
        height: 100%;
        width: 100%;
        display: flex;
        transition: transform 0.5s;
    }
    .stages__items {
        width: 100%;
        display: block;
        position: relative;
        overflow-x: hidden;
    }
    .stages__title {
        position: relative;
        margin-bottom: 148px;
    }
    .stages__title span {
        flex-direction: column;
        align-items: flex-start;
    }
    .stages__title a {
        width: 335px;
    }
    .stages__item:last-child .stages__text::after {
        content: '';
    }
    .stages__title::after {
        content: url('../assets/airplane-mobile.png');
        position: absolute;
        z-index: 100;
    }
    .stages__slides-buttons {
        margin-top: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .stages__item {
        flex: 0 0 100%;
        padding-top: 62px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    .members-slider__item {
        flex: 0 0 50%;
    }
}
@media (width < 768px) {
    .container {
        padding: 0 20px;
    }
    .info__link {
        text-align: center;
    }
}
@media (width <= 500px) {
    .support {
        padding-top: 48px;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-content__buttons {
        flex-direction: column;
    }
    .header-content__buttons,
    .header-content__buttons > a {
        width: 100%;
        height: 53px;
    }
    .header-content__buttons > a {
        flex-direction: row;
    }
    .header-content__button2 {
        background: rgb(255, 255, 255);
        opacity: 0.9;
        border: none;
    }
    .support__text,
    .info__text {
        text-align: left;
    }
    .stages__text {
        font-size: 18px;
    }
    .info img {
        width: 100%;
    }
    .info-table {
        width: 100%;
    }
    .info-table__item {
        flex-wrap: wrap;
        gap: 12px;
        padding: 16px 0;
    }
    .info-table__item h2,
    .info-table__item span {
        width: max-content;
    }
    .info-table__item span {
        border: none;
        padding: 0;
    }
    .stages {
        margin-top: 120px;
    }
    .members {
        grid-template-areas:
            'members-title '
            'members-slider '
            'members-pagination';
        margin-bottom: 100px;
    }
    .members-slider__item {
        flex: 0 0 100%;
    }
    .members__pagination {
        margin-top: 40px;
        justify-content: center;
    }
    .footer {
        padding: 40px 20px 60px 20px;
    }
}
